
/*Configurações padrão*/
:root {
    --light-color: #FFF;
    --primary-color: #080008;
    --secondary-color: #6d87cc;
    --gap: 2.5rem;
}
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 1.2;
}

h1, h2, h3, h4 ,h5 ,h6 {
    font-family: 'Nunito', sans-serif
}

h1{
    font-size: 6rem;
}
h2 {
    font-size: 5.0rem;
}
h3 {
    font-size: 3.5rem;
}


.main-bg {
    background-image: url(../svgs/Endless-Constellation.svg);
    background-size: 30%;
    background-position: center center;
    color: var(--light-color);
}

.white-bg {
    background-color: var(--light-color);
    color: var(--primary-color);
}

.page {
    min-height: 100vh;
}

.main-content {
    width: 120rem;
    margin: 0 auto;
    gap: var(--gap);
}

a {
    text-decoration: none;
}
/*Criando o menu*/

.menu {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    border-bottom: 0.1rem solid rgb(228, 225, 225);
}

.menu-content {
    width: 100%;
}

.menu .links {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    color: var(--primary-color);
}
.menu .links a {
    color: inherit;
    display: block;
    margin: 1rem;
    font-size: 2.2rem;
    position: relative;
    padding: 0.5rem;

}
/*Animação ao passar por cima dos botões do menu*/

/*
.menu .links a:hover{
    box-shadow: 0 0 1rem 0.5rem var(--secondary-color);
    border-radius: 0.5rem;
    transition: all 600ms ease-in-out;

}
*/
.space-menu {
    height: 6.3rem;
    width: 100%;
}


.menu .links li a::after {
    content: '';
    position: absolute;
    height: 0.3rem;
    bottom: 0;
    width: 0%;
    left: 50%;
    background-color: var(--secondary-color);
    transition: all 300ms ease-in-out;
}
.menu .links a:hover::after {
    left: 25%;
    width: 50%;
}
.menu .links a:hover {
    color: rgb(99, 97, 97);
}


/*Inicio*/

.inicio-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    max-width: 100%;
    min-height: 100vh;
}

.inicio-txt {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 2rem;
}

.inicio-txt p{
    margin-top: 2rem;
}

/*Portfolio*/
.port-content {
width: 100%;
min-height: 100vh;

}
.port-txt {
    display: flex;
    justify-content: center;
    padding-top: 7rem;

}

.port-projects {
    padding-top: 7%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-left: 5%;
}
.project-1 p {
    padding-bottom: 2rem;
    font-size: 3rem;
}
.gif-lpg {
    max-width: 40rem;
    max-height: 50rem;
    width: auto;
    height: auto;
    padding-bottom: 3rem;
}

/*Contato*/

.grid-contatos{
    padding-top: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-x: hidden;
}

.rede {
    height: 15rem;
    width: 15rem;
    transition: all 400ms ease-out;
    border-radius: 50%;
    margin-bottom: 1.8rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

}

.rede:hover {
    cursor: pointer;
    transform: translateY(-1.5rem);
    box-shadow: 3px 25px 16px 0px rgba(50, 50, 50, 0.45);
}

.gif-mail {
    width: 100%;
    text-align: center;
    border-right: 0.1rem solid rgb(219, 216, 216);
}

.redes {
    margin-left: 25%;
}

.port-txt .contact-h2 {
    font-style: italic;
}

.rede#linkedin {
    background-color: #0A66C2;
}
.rede#github {
    background-color: #161B22;
}
.rede#gmail {
    background-color: #D64B3F;
}

.icone.github{
    height: 10rem;
    width: 10rem;
}
.icone.linkedin {
    height: 8rem;
    width: 8rem;
}

